<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Signature</title>

    <style>
        .signature {
            display: flex;
            align-items: center;
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            max-width: 600px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .logo-2{
            transform: rotate(-90deg);
        }
    </style>
</head>
<body>
    <div class="signature">
        <div class="part1">
            <img src="./image.jpg" alt="Profile Image">
        </div>
        <div class="part2">
            <div class="name">Ginger Parks</div>
            <div class="title">REALTOR®</div>
            <div class="contact">📞 (864) 621-8099</div>
            <div class="contact">📧 gingerparksrealtor@gmail.com</div>
            <div class="contact">📸 @gingerparks_realtor</div>
            <div class="contact">🌍 onereal.com/ginger-parks</div>
        </div>
        <div class="part3">
            <img class= "logo-2" src="./logo2.jpg" alt="Logo">
        </div>
    </div>
</body>
</html>
